<h1>Hi, I'm David</h1>
    <div class="row">
      <div class="tag_line span6">Most of my time I'm programming in Ruby or Rock climbing. Ruby ain't so good at making the web look pretty. Which brings me here.
        <div>
          <dl>
            <dt>Where I work</dt>
            <dd><a href="http://tapjoy.com"><img class="icons" src="http://kevintu.com/projects/thumbs/tapjoy.png"></a></dd>
          </dl>
          <dl>
            <dt>Where I climb</dt>
            <dd><a href="http://touchstone.com"><img class="icons" src="http://www.modernluxury.com/sites/default/files/imagecache/story-photo-with-inset-main/story/climbing_33.jpg"</a></dd>
            <br>
            <dd><a href="http://www.yosemiteconservancy.org/"><img class="icons" src="http://www.valleyoutdoors.com/Hikes/images/halfdome.jpg"></a></dd>
          </dl>
          <dl>
            <dt>A Project I'm working on</dt>
            <dd><a href="http://adventuring.herokuapp.com/"><img class ="icons" src="http://adventuring.herokuapp.com/assets/routine-02df4d5a7ef4295afb004c6c5c354f02.jpg"></a></dd>
          </dl>

        </div>
      </div>
      <div class="caption span1 offset2">This is me. Or at least it was. The photo is kinda old.</div>
      <div class="span3">
        <img class="avatar" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc1/398907_10151142581028942_183152983_n.jpg">
      </div>
    </div>

    </div>

<!-- <div>
  <p>This is me<p>

</div> -->
