<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">

    <li>
      <input type="text">
    </li>
    <li>
      <input type="submit" value ="search">
    </li>
<!--   <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', '#') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', '#')  %>
    </li>
  <% end %> -->
</ul>
